footer {
    background-color: #101112;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #282828;
  }
  p {
    margin: 0;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  