.movie-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  text-align: left;
}

.movie-item-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50;
}

.movie-item-year,
.movie-item-description {
  font-size: 1em;
  color: #666;
  margin-top: 5px;
}


.movie-image {
  display: block; /* Asegura que la imagen es un bloque */
  width: 25%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto 10px; /* Centro horizontalmente y añade margen inferior */
}
